body{
    height: 100vh;
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}



.header{
    display: flex;
    justify-content: space-around;

}

.header_left {
    margin: auto 0;
    font-size: 24px;
    color: #F9FAF8;

}

ul{
    display: flex;  
    justify-content: space-between;
    gap: 20px;
}

li{
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer{
    background-color: #1f2937;
    color: white;

}

.body_container {
    background-color: pink;  
    flex-grow:1;
    display: flex;
    flex-direction: column;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.first_left{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    max-width:300px;
    flex-wrap: wrap;
    padding: 50px;
}

.first_left_1{

    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800px;

}

.first_left_2{
    font-size: 18px;
    color: #E5E7EB;
    margin:5px 0px;
}

.sign_up{
    background-color:#3882F6;
    color: white;
    border-radius: 5px;
    border:none;
    padding:5px 20px;
    margin:10px 0;
}
.first_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 50px;
    background-color: gray;
}

.first {
    background-color: #1f2937;
    flex-grow: 1;
}
.first_left_1,.first_left_2,.first_left_3, .first_right {
    color: white;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0px;
}

.second_1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 800px;
    margin:20px;
}
.second_2{
    display: flex;
    flex-direction: row;
}

.box_1, .box_2, .box_3, .box_4{
    display: flex;
    flex-direction: column;
    margin: 20px 20px; 
    
}

.image_1, .image_2, .image_3, .image_4 {
    width: 175px;
    height:175px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.text_1, .text_2, .text_3, .text_4{
    width:175px;    
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.quote{
    max-width:700px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic; 
}
.thor{
    margin-left: 500px;
    font-weight: 300;
    font-size: 20px;
    font-weight: bold;
}
.fourth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px;
}

.blue_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:100px;
    background-color:#3882F6;
    padding:50px 100px;
    border-radius: 10px;
}

.blue_left{
    padding: 15px;
}

.blue-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.blue_sign{
    color:white;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    padding: 5px 25px;
}

.box_A{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.box_B{
    color: white;
    font-size:15px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}


.second, .fourth {
    background-color: white;
    flex-grow: 1;
}

.third{
    background-color: #E5E7EB;
    flex-grow: 1;
} 